    /* all-body*/
    
    #content {
        overflow-y: scroll;
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: 650px;
        z-index: 1000;
        right: 20px;
        scroll-behavior: smooth;
        overflow-x: hidden;
        background-color: #e9eaea;
        top: 50px;
        padding-left: 10px;
    }
    /*  Home  */
    
    .Home {
        position: relative;
        height: max-content;
        margin: 0 auto;
        width: 80%;
        z-index: 1000;
        right: 20px;
    }
    
    .Home h1 {
        text-align: left;
        color: #333333;
        margin-top: 20px;
        font-weight: bold;
    }
    
    .Home p {
        color: #474e5d;
        font-weight: 500;
        margin-top: 50px;
        text-align: left;
    }
    
    .Aboutme {
        margin-top: 350px;
    }
    
    .iq-mt-30 {
        margin-top: 30px;
    }
    
    .button {
        color: #333333;
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        position: relative;
        border: 2px solid #31d181;
        display: inline-block;
        text-transform: uppercase;
        background: transparent;
        transition: .5s;
    }
    
    .button:hover {
        color: #fff;
        background-color: #31d181;
        text-decoration: none;
    }
    
    .content-deta .button:hover {
        margin-left: 20px;
    }
    
    .content-deta a {
        margin: 30px 10px;
    }
    /* Timeline*/
    
    .resume {
        margin-top: 250px;
    }
    
    * {
        box-sizing: border-box !important;
    }
    /* Set a background color */
    
    body {
        background-color: #474e5d;
        font-family: Helvetica, sans-serif;
    }
    /* The actual timeline (the vertical ruler) */
    
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* The actual timeline (the vertical ruler) */
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #333333;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    /* Container around content */
    
    .container1 {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    /* The circles on the timeline */
    
    .timeline .container1::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -15px;
        background-color: #333333;
        border: 4px solid #31d181;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    /* Place the container to the left */
    
    .left {
        left: 0;
    }
    /* Place the container to the right */
    
    .right {
        left: 50%;
    }
    /* Add arrows to the left container (pointing right) */
    
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid #333333;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
    /* Add arrows to the right container (pointing left) */
    
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid #333333;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Fix the circle for containers on the right side */
    
    .right::after {
        left: -16px;
    }
    /* The actual content */
    
    .content1 {
        padding: 20px 30px;
        background-color: #333333;
        position: relative;
        border-radius: 6px;
    }
    /* Media queries - Responsive timeline on screens less than 600px wide */
    
    @media screen and (max-width: 600px) {
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
        /* Full-width containers */
        .container1 {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        /* Make sure that all arrows are pointing leftwards */
        .container1::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 15px;
        }
        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
    
    .section-field input {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
        padding-left: 20px;
        height: 48px;
        line-height: 48px;
        clear: both;
        color: #666;
        border: 1px solid #666;
    }
    
    .section-field.textarea textarea {
        width: 100%;
        float: left;
        color: #666;
        border: 1px solid #666;
        border-radius: 0;
        padding: 15px 0 0 20px;
        resize: none;
    }
    
    .contact {
        margin-top: 250px;
        margin-bottom: 50px;
    }